:root {
  body {
    * {
      font-size: 20px;
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      outline: none;
      box-sizing: border-box;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}